#app-grid {
  layout: horizontal;
  grid-size: 2;
  grid-gutter: 1;
}

#metadata-container {
  width: 30%;
  height: 100%;
  border: lightblue;
  padding: 0 1;
}

#metadata-container Label {
  margin-top: 1;
}

#run-container {
  width: 70%;
  height: 100%;
}

#run_log {
  height: 100%;
  border: lightblue;
}

#controls {
  dock: bottom;
  height: auto;
  align: right middle;
}

#controls Button {
  margin: 1;
}

#comment_input {
  width: 100%;
}
